.App {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------Navbar------------------------ */
/* .nav_121{
  margin-left: 10rem;
  margin-right: 10rem;
} */

/* -------------------Home------------------------ */
.logo {
  height: 54px;
  width: 54px;
}

.img-accordion {
  height: 70vh;
}

.slide-bg-img:hover {
  flex: 5;
}

.slide-bg-img {
  flex: 1;
  transition: all 0.7s;
}

.slide-bg-img:hover p {
  background-color: transparent;
  border: 2px solid #222;
  transform: rotate(0deg);
}

.website-info::before {
  display: none;
}

.website-info::after {
  display: block;
  animation: 7s site-bottom;
}

@keyframes site-bottom {
  from {
    margin-bottom: -100%;
  }

  to {
    margin-bottom: -0%;
  }
}
/* --------------------------resact responstive-------------- */
.carousel.carousel-slider {
  margin-left: auto!important;
  margin-right: auto!important;
}

.carousel .slide .legend {
  width: 40%!important;
  left: 30%!important;
  margin-left: 0%!important;
  border-radius: 0px!important;
  background: none!important;
  /* opacity: 0.25!important; */

}
/* -------------------------Contact--------------------------------- */
.contact-01 {
  margin-top: -18%;
}

/* ---------------------Button------------------------------ */
.btn_common {
  border-radius: 5px;
  appearance: none;
  background-color: #FCDC2A;
  border-width: 0;
  box-sizing: border-box;
  color: #114232;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn_common:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #87A922;
  border: 2px solid black;
  border-radius: 5px;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.btn_common:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn_common:hover {
  color: white;
}

.btn_common span {
  z-index: 1;
  position: relative;
}

/* ------------------Circle----------------------- */
.trans-mg {
  animation: 3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.outer-circle {
  width: 420px;
  height: 480px;
  border: 30px solid rgb(248, 248, 248);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

.inner-circle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00adb5;
}

.inner-circle img {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ------------Contact page ---------- */


@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.contact2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.contact2 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact2 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.error {
  color: #ff4400;
}

.blur-effect {
  filter: blur(5px); 
  pointer-events: none; 
}