.App {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indicator {
  transition-property: left;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition: left 0.4s ease 0s;
}

/* -------------------Navbar------------------------ */
/* .nav_121{
  margin-left: 10rem;
  margin-right: 10rem;
} */


/* ---------------------project----------------------------- */
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

img {
  width: 100%;
  height: auto;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.project {
  position: relative;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #30c5d2 -5.91%, #471069 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

/* -------------------Home------------------------ */
.logo {
  height: 54px;
  width: 54px;
}

.img-accordion {
  height: 70vh;
}

.slide-bg-img:hover {
  flex: 5;
}

.slide-bg-img {
  flex: 1;
  transition: all 0.7s;
}

.slide-bg-img:hover p {
  background-color: transparent;
  border: 2px solid #222;
  transform: rotate(0deg);
}

.website-info::before {
  display: none;
}

.website-info::after {
  display: block;
  animation: 7s site-bottom;
}

@keyframes site-bottom {
  from {
    margin-bottom: -100%;
  }

  to {
    margin-bottom: -0%;
  }
}

/* --------------------------resact responstive-------------- */
.carousel.carousel-slider {
  margin-left: auto !important;
  margin-right: auto !important;
}

.carousel .slide .legend {
  width: 40% !important;
  left: 30% !important;
  margin-left: 0% !important;
  border-radius: 0px !important;
  background: none !important;
  /* opacity: 0.25!important; */

}

/* -------------------------Contact--------------------------------- */
.contact-01 {
  margin-top: -18%;
}

/* ---------------------Button------------------------------ */
.btn_common {
  border-radius: 5px;
  appearance: none;
  background-color: #FCDC2A;
  border-width: 0;
  box-sizing: border-box;
  color: #114232;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn_common:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #87A922;
  border: 2px solid black;
  border-radius: 5px;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.btn_common:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn_common:hover {
  color: white;
}

.btn_common span {
  z-index: 1;
  position: relative;
}

/* ------------------Circle----------------------- */
.trans-mg {
  animation: 3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

.outer-circle {
  width: 420px;
  height: 480px;
  border: 30px solid rgb(248, 248, 248);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

.inner-circle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00adb5;
}

.inner-circle img {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* ------------Contact page ---------- */


@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.contact2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.contact2 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact2 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.error {
  color: #ff4400;
}

.blur-effect {
  filter: blur(5px); 
  pointer-events: none; 
}

/* skills css */
.skills-integration {
    height: 540px;
}

.skills-integration__container {
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 1440px;
}

.skills-integration__link {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-color: transparent;
    background-image: url('../public/polygon.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: none;
    height: 187px;
    outline: 0;
    position: absolute;
    transition: transform .3s linear;
    width: 150px;
}

.skills-integration--animate .skills-integration__link {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.skills-integration__link:focus {
    box-shadow: none;
    outline: 0;
}

.skills-integration__item {
    height: 36px;
    left: 50%;
    position: absolute;
    top: 55px;
    transform: translateX(-50%);
    width: 36px;
}

.avtar .skills-integration__item{
  height: 40%;
  width: 30%;
}

.skills-integration__skills,
.skills-integration__skills:focus,
.skills-integration__skills:hover {
    background-color: transparent;
    background-image: url('../public/polygon-center.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: none;
    height: 375px;
    left: 50%;
    outline: 0;
    position: absolute;
    top: 120px;
    transform: translateX(-50%);
    width: 300px;
}

.domready .skills-integration__item img.faded {
    opacity: 0;
    transform: scale(0);
    transition: opacity .15s ease-out, transform .15s ease-out !important;
}

.domready .skills-integration__item img.lazy-loaded {
    opacity: 1;
    transform: none;
}

.skills-integration__skills .skills-integration__item {
    top: 125px;
}

.skills-integration--1 {
    animation-delay: 1s;
    left: -3%;
    top: 0;
}

.skills-integration--14 {
    animation-delay: 1.5s;
    right: -3%;
    top: 0;
}

.skills-integration--2 {
    animation-delay: 2s;
    left: 25%;
    top: 90px;
}

.skills-integration--13 {
    animation-delay: 2.5s;
    right: 25%;
    top: 90px;
}

.skills-integration--3 {
    animation-delay: 4s;
    left: 1%;
    top: 230px;
}

.skills-integration--15 {
    animation-delay: 4.5s;
    right: 1%;
    top: 230px;
}

.skills-integration--5 {
    animation-delay: 3s;
    left: 36%;
    top: 100px;
}

.skills-integration--10 {
    animation-delay: 3.5s;
    right: 36%;
    top: 100px;
}

.skills-integration--4 {
    animation-delay: 5s;
    left: 5%;
    top: 400px;
}

.skills-integration--16 {
    animation-delay: 5.5s;
    right: 5%;
    top: 400px;
}

.skills-integration--6 {
    animation-delay: 6s;
    left: 35%;
    top: 235px;
}

.skills-integration--12 {
    animation-delay: 6.5s;
    right: 35%;
    top: 235px;
}

.skills-integration--7 {
    animation-delay: 7s;
    left: 40%;
    top: 350px;
}

.skills-integration--11 {
    animation-delay: 7.5s;
    right: 40%;
    top: 350px;
}

.skills-integration--8 {
    animation-delay: 8s;
    left: 40%;
    top: 520px;
}

.skills-integration--9 {
    animation-delay: 8.5s;
    right: 45%;
    top: 30px;
}

@media(min-width: 1024px) {
    .skills-integration {
        height: 740px;
    }

    .skills-integration__skills,
    .skills-integration__skills:focus,
    .skills-integration__skills:hover {
        height: 597px;
        width: 554px;
    }

    .skills-integration__skills .skills-integration__item {
        top: 190px;
    }

    .skills-integration__link {
        height: 266px;
        width: 214px;
    }

    .skills-integration__item {
        height: 60px;
        top: 72px;
        width: 60px;
    }

    .skills-integration--5 {
        left: 26%;
    }

    .skills-integration--10 {
        right: 26%;
    }

    .skills-integration--2 {
        left: 10%;
    }

    .skills-integration--13 {
        right: 10%;
    }

    .skills-integration--6 {
        left: 15%;
        top: 275px;
    }

    .skills-integration--12 {
        right: 15%;
        top: 275px;
    }

    .skills-integration--7 {
        left: 24%;
        top: 400px;
    }

    .skills-integration--11 {
        right: 24%;
        top: 400px;
    }

    .skills-integration--9 {
        right: 40%;
        top: -20px;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-10px) scale(.9);
    }

    to {
        transform: translateY(0) scale(1);
    }
}

/* ------------Icons---------------- */
.social-menu{
  margin-top: 10px;
}
.social-menu ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.social-menu ul li {
  list-style: none;
   /* margin: 0 15px; */
}

.social-menu ul li .icon{
  font-size: 20px;
  /* line-height: 20px; */
  transition: 0.1s;
  color: #fff;
}

/* .social-menu ul li .icon:hover{
color: #fff;
} */

.social-menu ul li a {

  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#fff;
    display: flex;
    align-items:center;
  justify-content: center;
  transition: 1s;
  /* box-shadow: 0px 0px 9px 0px rgba(124, 119, 119, 0.3); */
}

.social-menu ul li a:hover{
  transform: translate(0,-10%);
}

.social-menu ul li .icon-linkedin{
  color: #1453dcfa;
}
.social-menu ul li .icon-email{
  color:#f91c1c;
}
.social-menu ul li .icon-skype{
  color: rgb(21, 161, 216);
}

