.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------Navbar------------------------ */
/* .nav_121{
  margin-left: 10rem;
  margin-right: 10rem;
} */

/* -------------------Home------------------------ */

.folio_12 {
  background-color: #100;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-accordion {
  width: 90%;
  height: 80vh;
  display: flex;
}

.img:hover {
  flex: 5;
  opacity: 0.5;

}

.img {
  flex: 1;
  height: 100%;
  width: 172px;
  transform: skew(5deg);
  cursor: pointer;
  margin: 0 2px;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #222;
  position: relative;
}

.img p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all .7s;
  text-transform: uppercase;
  white-space: nowrap;
  color: #00adb5;
}

.img-accordion:hover .img {
  transform: skew(0);
}

.img:hover p {
  background-color: transparent;
  border: 2px solid #222;
  transform: rotate(0deg);
}

/* ------------------Circle----------------------- */

.main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.textMain {
  align-self: center;
  margin-left: 5%;
}

.outer-circle {
  width: 500px;
  height: 575px;
  border: 40px solid rgb(248, 248, 248);

  border-radius: 50%;
  /* Make it a circle */
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

.inner-circle {
  width: calc(100%);
  height: calc(100%);
  border: 10px solid #135e96;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #135e96;
}

.icons {
  height: 30px;
  width: 30px;
}

h1 {
  border-left: 4px solid red;
  padding-right: 10%;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}

.text {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  word-spacing: 2px;
  margin-top: 20px;
  margin-left: 2px;
}